body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}

/* Top section style */

.top-main {
    display: flex;
    background-color: #161616;
    margin-left: 140px;
    margin-right: 139px;
    margin-top: 50px;
    padding-left: 106px;
    padding-bottom: none;
    border-radius: 30px;
    margin-bottom: 130px;
    width: 1000px;
    height: 600px;
    left: 140px;
    top: 50px;
}

.top-header {
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 80px;
    margin-bottom: -30px;
}

.top-paragraph {
    color: white;

}

button {
    width: 187px;
    height: 56px;
    left: 246px;
    top: 529px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    font-style: none;
    color: white;
    margin-bottom: 111px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.button p {
    width: 103px;
    height: 23px;
}

.top-info {
    padding-top: 30px;
}

.top-banner img {
    width: 530px;
    height: 580px;
    left: 801px;
    top: 83px;
    margin-bottom: -582px;
    padding-right: 50px;
}

.button-tab {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 280px;
    left: 10px;
    top: 500px;
    margin-left: 140px;
    border-radius: 10px;
    padding-top: 15px;
    position: sticky;
    top: 20px;
}

.indiv-button {
    margin-bottom: 20px;
    color: #161616;
    background-color: white;
    font-size: 1em;
    font-weight: 700;
}

.indiv-button.blog {
    background-color: #DD0000;
    color: white;
    border: none;
}

.blog-parent {
    display: flex;
}

.blog {
    border: 1px #E8E8E8 solid;
    margin-left: 10px;
}

/* Upcoming match schedule area */

.schedule-all {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    margin-left: 20px;
}

.matches-main {
    border: 2px #E8E8E8 solid;
    border-radius: 10px;
    width: 240px;
    height: 200px;
    padding-left: 15px;
    padding-top: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.ger-fra {
    display: flex;
}

.ger-fra img {
    width: 83.04px;
    height: 50.18px;
    left: 506px;
    top: 879px;
}

.ger-fra p {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    padding-left: 10px;
}

.flag-texts {
    padding-left: 25px;
}

.flag-texts p {
    font-size: 14px;
    padding-left: 15px;
}

/* Footer section */

footer {
    border: #161616;
    background-color: #161616;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-header {
    text-align: center;
    color: white;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 25px;
}

.footer-menu p {
    margin-left: 30px;
    color: white;
}

/* Social Media Handle */

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DD0000;

}

.icon {
    padding-left: 50px;
    font-size: 2em;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-twitter {
    color: #DD0000;
}

/*----------------------------
        Media Queries 
------------------------------*/

/* Mobile Devices */

@media only screen and (max-width:688px) {
    .top-main {
        flex-direction: row;
    }

    .schedule-all {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-menu {
        flex-direction: column;
    }

    /* Tables Devices */

    @media only screen and (min-width: 689px) and (max-width: 992px) {

        .schedule-all {
            grid-template-columns: repeat(3, 2fr);
        }

        .footer-menu {
            flex-direction: column;
        }
    }

}